body {

			
			font-family: "Roboto",Helvetica,Arial,sans-serif;
			margin: 0;
			background-color: #f7f7f7;
			overflow: hidden;
			transition: transform 1s ease-out;
		}

.full-div {
			
			width: 100%;
			height: 100%;
			margin: 0		}

#scene1 {
	background: rgba(255, 255, 255, 0.94);
}


.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../imgs/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
	text-align:center;
	font-size: 18px;
	color:#7494C5;
	padding-top:50vh;
	font-weight:100;
}



#scene1 #iphone {}

#scene1 #headline-texts {

	margin-top: 80px; 
transform: translateY(-700%);
 	transition: all 1.2s ease-out;
 	opacity: 0;
}

#scene1 h1 {
	font-size: 62px;
	font-weight: 100;
	color: #7494C5;
}

#scene1 h4{
	font-size: 16px;
	font-weight: 500;
	color: #555;
}


#scene1 #start-stove-img {
	width: 100%;
	z-index: 101;
	transform: translateY(100%);
 	transition: transform 1.2s ease-out;
 	background: transparent;
 	position: fixed;
 	bottom: 0;
}


@-moz-document url-prefix() {
    #scene1 #start-stove-img{
        left:0
    }
}



#start_cover_phone {
			width: 100%;
			height: 100%;
			bottom:50%;
			/*background: url('../imgs/iphone0cover0photo.jpg') no-repeat;*/
			position: fixed;
			-webkit-transform: translate(0%, 0%) scale(1.2) rotate(0deg);
   	 		-ms-transform: translate(0%, 0%) scale(1.2) rotate(0deg);
    		transform: translate(-25%, 0%) scale(1.2) rotate(0deg);
			 transition: transform 2s ease-out;
			z-index:100;
			filter: sepia(0.1);
			top:0%;

		}

		.clear {

			clear: both
		}
		
		
.start-text {
		position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9998;
	background:rgba(0, 0, 0, 0.54);
	text-align:center;
	font-size: 22px;
	color:#fff;
	padding-top:45vh;
	font-weight:800;
	text-shadow: 1px 1px 1px #000;
}

.content-page {

	z-index:1000;
	position: relative;
	border-top: #228CEF 6px solid;
	margin-top: 1800px;
	box-shadow: 1px 21px 75px #145693;
	background: #fff
}

.fixed-startpage {

	position: fixed;
}

#scene2 {

	background: rgba(255, 255, 255, 1) url("../imgs/new render.146.jpg") no-repeat scroll 0% 50% / 73% auto;
			color: #000;
}

#scene3 {

	background: #fff;
}

#scene3 h1 {
	font-weight: 100;
	font-size: 42px;
	margin-bottom: 20px;
}
#scene3 #s3s1 {
		background: linear-gradient(rgba(177, 177, 177, 0.7), rgba(64, 64, 64, 0.64)), url("../imgs/4X0A7620.jpg") no-repeat ;
		background-size: cover;
		width: 100%;

}

#scene3 #s3s2 {
		background:linear-gradient(rgba(177, 177, 177, 0.7), rgba(64, 64, 64, 0.64)), url("../imgs/4X0A7786.jpg") no-repeat;
		background-size: cover;
		width: 100%;

}


#scene3 #s3s3 {

		background: linear-gradient(rgba(177, 177, 177, 0.7), rgba(64, 64, 64, 0.64)), url("../imgs/4X0A7840.jpg");
		background-size: cover;
		width: 100%;

}




.bx-wrapper {
width: 100%;
		
			margin: 0

}

#scene3 li article {
	margin: 0 auto;
	width: 50%;
	margin-top: 17%;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

.light0black0bg {

	background: rgba(0,0,0,0.5);
	position: fixed;
}



.img-slider li {
height: 100%;
}

.bx-wrapper, .bx-viewport {
    height: 550px !important; 
}

.left-c {

	float: left;
	margin: 230px 30px;
	text-align: left;
	transform: translate(20%,0%);
	transition: transform 0.5s ease-out;
	opacity: 1
}


.right-c {

	float: right;
	margin: 115px 50px;
	text-align: right;
	transform: translate(20%,0%);
	transition: transform 0.5s ease-out;
	opacity: 
}

.sub-side-text {

	

}


.feat-icons {

	text-align: center;
	color: #7494C5
}

.sub-side-text h1 {
	font-size: 42px;
	font-weight: 100;
	color: #7494C5
}




/** *  Plans **/

.promos {
  max-width: 1140px;
  margin: 100px auto;
}

.promos a{
text-decoration: none;
}


.promo {
  margin: 1em .5em 1.625em;
  padding: 1.25em 0 2em;
  background: #0F1012;
  
  font-weight: 400;
  line-height: 1.625;
  color: #f9f9f9;
  text-align: center;
}
@media (min-width: 40em) {
  .promo {
    display: inline;
    float: left;
    width: 33.333%;
    margin: 1em 0 0;
  }
  .promo.first {
    border-right: none;
  }
  .promo.second {
    float: right;
    border-left: none;
  }
}
.promo h4 {
  margin: .25em 0 0;
  font-size: 170%;
  font-weight: normal;
}
.promo .features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #999999;
}
.promo li {
  padding: .25em 0;
}
.promo .brief {
  color: #f9f9f9;
}
.promo .price {
  margin: .5em 0;
  padding: .25em 0;
  background: #292b2e;
  font-size: 250%;
  color: #f9f9f9;
}
.promo .buy {
  margin: 1em 0 0;
}
.promo button {
  padding: 1em 3.25em;
  border: none;
  width: auto;
  border-radius: 40px;
  background: #292b2e;
  color: #f9f9f9;
  cursor: pointer;
}
.promo button:hover {
  background: #27282b;
}

.scale button {
  background: #64AAA4;
}
.scale button:hover {
  background: #4e8d88;
}
@media (min-width: 40em) {
  .scale {
    transform: scale(1.2);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
  }
  .scale .price {
    color: #64AAA4;
  }
}

#scene4 {
	height: 800px;
}



.team-mem-dp {
	width: 200px;
	height: 200px;
	max-width: 250px;
	border: 5px #fff solid;
	box-shadow:1px 0px 10px rgba(0, 0, 0, 0.16);
	
}

.team-members-list{

	float: left;
	margin-right:55px;
	margin-bottom: 10px;
	text-align: center;
}

.team-members-list h3 {

	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}


#scene5 {

	height: 800px;
	padding: 20px;
	text-align: center
}

#scene5 h1{
	text-align: center;
	font-weight: 100;
	color: #7494C5

}

#scene5 p{
	margin-bottom: 55px;
}

.validation-form-home {

	padding-top: 30px;
	text-align: center;
	height: 300px
}

.validation-form-home h2 {

	font-weight: 100;
	
}

.validation-form-home p {
	margin-bottom: 30px;
}

.input-regular,
.input-small {
  padding: 10px 12px;
  width: 28%;
  color: #000;
  border: 2px solid rgb(88, 106, 143);
  margin-right: 2%;
}
/*hides text as soon as user focues on input field*/
.input-regular:focus::-webkit-input-placeholder {
  opacity: 0;
}
.input-small {
  font-size: 13px;
  padding: 6px 10px;
}

button {
  display: inline-block;
  border: 2px solid #586A8F;
  color: #000;
  background: none;
  width: 10%;
  height: auto;
 font-size: 12px;
    padding: 10px 0;
}

button:hover {
    background: #fff;
    color: #000;
}

footer {
	color: #fff;
	padding: 30px;
	width: 100%;
	height: 230px;
	background: #000
}

footer h2 {
	font-weight: 100
}

footer p {

	line-height: 2em;
}